body {
  margin: 0;
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  font-weight: 800;
  text-align: center;
  display: grid;
  place-items: center;
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/b/32/zima-sneg-sugroby-derevia-eli-zakat.jpg");
  background-position: center;
  background-size: cover;
}

.board {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(5, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-gap: 5px;
}

.square {
  width: 5rem;
  height: 5rem;
  border: 1px solid white;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 0.75rem;
  font-weight: 600;
}

.square:hover {
  background-color: rgb(172, 243, 211);
  cursor: pointer;
}

.active {
  width: 5rem;
  height: 5rem;
  background-color: rgb(118, 197, 250) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 0.75rem;
  font-weight: 600;
}

.displayText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.confetti-top {
  display: flex;
  justify-content: space-between;
}

.confetti-bottom {
  display: flex;
  justify-content: center;
}
